@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

html {
    /* es lo mismo que :root */
    --bg-color-200: hsl(240, 17%, 10%);
    --bg-color-200-75: hsla(0, 0%, 0%, 0.753);
    --bg-color-400: hsl(0, 0%, 0%);
    --text-color: hsl(0, 0%, 100%);
    --text-secondary-color: hsl(240, 17%, 10%);
    --accent-color-200: hsl(24, 43%, 7%);
    --accent-color-400: hsl(1, 100%, 44%);
    --accent-color-500: hsl(0, 100%, 78%);

    --accent-color-btn: hsl(236, 69%, 85%);

    --txt-heading: "Bebas Neue", sans-serif;
    --txt-base: "Nunito Sans", sans-serif;

    --contenedor-sz: min(64rem, 100%);
}

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color-200);
    color: var(--text-color);
    font-family: var(--txt-base);
    line-height: 1.5; /* altura del renglon/linea */
}

header,
footer {
    background-color: var(--bg-color-400);
}
section {
    padding: 2rem;
    margin: 0 auto;
    width: var(--contenedor-sz);
}

h1,
h2 {
    color: var(--accent-clr);
    font-family: var(--txt-heading);
}
ul {
    list-style: none;
}

a:link,
a:visited {
    text-decoration: none;
    color: var(--txt-base);
}
a:hover,
a:active {
    color: var(--accent-color-400);
    text-decoration: none;
}

/* Header */
header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}
header h1 {
    color: var(--accent-color-400);
}
/* si es hijo directo puedo modificarlo asi, 
si no es hijo directo va sin > */

.contenedor-header {
    width: var(--contenedor-sz);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 0.5rem;
    margin: 0 auto;
    align-items: center;
    padding: 0.5rem 1rem;
}

.contenedor-header ul {
    display: flex;
    gap: 1rem;
}

/* Menu principal y toggle */
/* PANELES */
.favoritos-navigation,
.cart-navigation,
.primary-navigation {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 45vw;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
    background-color: rgba(0, 0, 0, 0.591);
    z-index: 11;
}

.favoritos-navigation h2,
.primary-navigation h2,
.cart-navigation h2 {
    padding: 0.7rem;
}

.favoritos-navigation ul,
.primary-navigation ul,
.cart-navigation ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 3rem;
}

@supports (backdrop-filter: blur(1em)) {
    .favoritos-navigation,
    .cart-navigation,
    .primary-navigation {
        background: none;
        backdrop-filter: blur(3em);
    }
}

.favoritos-navigation[data-visible="true"],
.cart-navigation[data-visible="true"],
.primary-navigation[data-visible="true"] {
    transform: translateX(0%);
}

/* BTN TOGGLE */

/* Reubicar mas tarde */

.favoritos-btn,
.carrito-btn {
    position: relative;
}

.fav-count {
    position: absolute;
    font-size: 0.5rem;
    right: -0.4rem;
    top: -0.8rem;
    width: 1.5rem;
    aspect-ratio: 1;
    padding: 0.4rem;
    background-color: var(--accent-color-400);
    border-radius: 100%;
    display: none;
}

.btn-fav-remove {
    position: relative;
    background: none;
    border: none;
    width: 2rem;
    aspect-ratio: 1/1;
    background-image: url("../data/icons/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.favoritos-navigation ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.favoritos-navigation li {
    display: flex;
}

.favoritos-navigation li:hover {
    background-color: var(--bg-color-200);
}

.btn-fav-remove:hover {
    border: 0.2rem solid var(--accent-color-400);
    border-radius: 0.5rem;
    cursor: pointer;
}

.fav-count.active {
    display: block;
}

.favoritos-navigation img {
    width: 4rem;
}

/* ------------------- */
.favoritos-btn,
.carrito-btn,
.menu-btn {
    background: none;
    border: none;
    padding: 0.5rem;
    width: 2rem;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 12;
    cursor: pointer;
}

/* Configuro estados para los botones */
.menu-btn::before,
.menu-btn::after,
.favoritos-btn::before,
.favoritos-btn::after,
.carrito-btn::before,
.carrito-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition:
        transform 0.4s ease,
        opacity 0.4s ease;
}

/* ESTADO BASE : cargo su svg por default */

.menu-btn::before {
    background-image: url("../data/icons/menu.svg");
    opacity: 1;
    transform: rotate(0deg) scale(1);
}

.carrito-btn::before {
    background-image: url("../data/icons/shopping_cart_outline.svg");
    opacity: 1;
    transform: rotate(0deg) scale(1);
}

.favoritos-btn::before {
    background-image: url("../data/icons/favorite-outline.svg");
    opacity: 1;
    transform: rotate(0deg) scale(1);
}

/* SEGUNDO ESTADO: cambio svg cuando estan activos */
.favoritos-btn::after,
.menu-btn::after,
.carrito-btn::after {
    background-image: url("../data/icons/close.svg");
    opacity: 0;
    transform: rotate(-90deg) scale(0.5);
}

/* Selector que mira atributo, si estos cambian entran otros valores  */
/* al cambiar de valor se activa la transicion */
/* el icono desaparece girando */
.favoritos-btn[aria-expanded="true"]::before,
.menu-btn[aria-expanded="true"]::before,
.carrito-btn[aria-expanded="true"]::before {
    opacity: 0;
    transform: rotate(90deg) scale(0.5);
}

/* aparece la X girando */
.favoritos-btn[aria-expanded="true"]::after,
.menu-btn[aria-expanded="true"]::after,
.carrito-btn[aria-expanded="true"]::after {
    opacity: 1;
    transform: rotate(0deg) scale(1);
}

.carrito-btn[aria-expanded="true"] {
    right: -2.3rem;
}
.favoritos-btn[aria-expanded="true"] {
    right: -4.3rem;
}
/* esconder el btn que no esta activado */
.ocultar {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.fantasma {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    pointer-events: none; /* para que no reciba clicks por defecto */
}

/* solo recibe clicks cuando esta activado */
.fantasma.activo {
    pointer-events: auto;
}

/* Main */
/* Section bienvenidos */

#bienvenidos {
    width: 100%;
    padding: 0;
    min-height: auto;
    aspect-ratio: 21 / 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-image: url("../data/img/Lotus-79-section-bienvenidos.webp");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: scroll;
}
.bienvenidos h1 {
    font-size: clamp(3rem, 6vh, 7rem);
}

.contenedor-main {
    width: 100%;
    background-color: var(--bg-color-200-75);
    padding: 1rem;
    text-align: center;
}

/* Catalogo */
.contenedor-catalogo {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    gap: 2rem 1.5rem;
}

.contenedor-catalogo article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 0.5rem;
}

.contenedor-catalogo img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
    border-radius: 0.5rem;
    transition: transform 0.5s ease;
}
.contenedor-catalogo img:hover {
    transform: scale(1.1);
    border: 0.2rem solid var(--accent-color-400);
}

.btn-favorito-catalogo {
    color: var(--text-color);
    font-family: var(--txt-base);
    font-size: 1rem;
    background: none;
    border: 0.2rem solid var(--accent-color-400);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.btn-favorito-catalogo:hover {
    background-color: var(--accent-color-400);
}

.btn-carrito-catalogo {
    color: var(--text-color);
    font-family: var(--txt-base);
    font-size: 1rem;
    background: none;
    border: 0.2rem solid var(--accent-color-btn);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.btn-carrito-catalogo:hover {
    background-color: var(--accent-color-btn);
}

.active-favoritos {
    background-color: var(--accent-color-400);
}
.active-carrito {
    background-color: var(--accent-color-btn);
}

/* Detalle */
#detalle {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#detalle img {
    width: 100%;
}
#detalle ul {
    list-style: disc;
    padding-left: 1rem;
}

.container-detalle-img {
    position: relative;
}

.favoritos-btn-detalle {
    background-color: var(--bg-color-200-75);
    border-radius: 100%;
    background-image: url("../data/icons/favorite-outline.svg");
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    width: 2rem;
    aspect-ratio: 1;
    cursor: pointer;

    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

#otros {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container-otros {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 14rem;
    grid-template-rows: 1fr;
    gap: 2rem;

    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    padding: 2rem 0;
}
#otros img {
    width: 100%;
}

/* Quienes Somos */
#quienes-somos {
    height: 100vh;
}
#quienes-somos img {
    width: 100%;
    display: none;
}

/* Footer */

footer h1 {
    font-size: 1.5rem;
}
footer {
    height: 9rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    position: sticky;
    bottom: 0;
}

.container-title-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacto {
    background-image: url("../data/icons/whatsapp.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 2rem;
    aspect-ratio: 1;
}

.sr-only {
    position: absolute;
    top: -1000px;
    left: -1000px;
    display: block;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/* Media Queris */
/* Se escribe como ancho minimo pero quiere decir ancho hasta */
@media screen and (min-width: 768px) {
    .contenedor-header {
        flex-direction: row;
    }
    #bienvenidos {
        background-size: cover;
        background-attachment: fixed;
        background-position: top center;
    }

    #quienes-somos img {
        width: 100%;
        display: inline-block;
    }

    footer {
        position: relative;
    }
}

@media screen and (min-width: 1100px) {
    .menu-btn[aria-expanded="true"] {
        right: -8rem;
    }
    .carrito-btn[aria-expanded="true"] {
        right: -10.2rem;
    }
    .favoritos-btn[aria-expanded="true"] {
        right: -12.2rem;
    }
    .contacto {
        width: 3rem;
        position: fixed;
        right: 1.2rem;
        bottom: 4rem;
    }
    #otros {
        width: 64rem;
    }
    #otros img {
        width: 20rem;
    }
    .container-otros {
        padding: 2rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    footer {
        padding: 1rem 15rem;
    }
}
